Repository alejandroalffer/cheqd-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Path conditions:
  dockerbuild-libindy-ubuntu16: any of: .gitlab-ci.yml, libindy/ci/ubuntu.dockerfile
  dockerbuild-libindy-ubuntu18: any of: .gitlab-ci.yml, libindy/ci/ubuntu18.dockerfile
  dockerbuild-libindy-android: any of: .gitlab-ci.yml, libindy/ci/ubuntu.dockerfile, libindy/ci/android.dockerfile

Add installation ssh
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Add pre_clone_script
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Add job install-ssh
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

turn off GIT_SUBMODULE_STRATEGY for ssh job
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Add verim pool service
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Fix link for verim-node registry
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Fix verim-node version
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Set fixed version for verim-node
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Return libindy CI tests
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Return build libindy
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Comment CI tests for libindy
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Add verim_test_pool_ip for environment
  libindy/indy-utils/src/environment.rs
  libindy/tests/utils/verim_setup.rs
Due: none

Fix verim testpool url schema
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Fix indy-api-types error
  .gitlab-ci.yml
  libindy/indy-api-types/src/errors.rs
  libindy/tests/utils/verim_setup.rs
  libindy/tests/verim_ledger_verim.rs
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Use node with test account; minor fixes
  .gitlab-ci.yml
  libindy/indy-utils/src/environment.rs
  libindy/tests/utils/verim_setup.rs
  libindy/tests/verim_pool.rs
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Use file-based env var for SSH key.
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Update pipelines for new repo location.
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Switch java wrapper job instance to large
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Add verim pool service to java wrapper test stage
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Clean up
  .gitlab-ci.yml
  libindy/tests/utils/verim_setup.rs
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Fix link of verim-testnet
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Use compute xlarge runners for libindy compilation and tests.
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Correct image for libindy publishing.
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Rename default branch in pipeline.
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Use custom certs in CD.
  libindy/ci/ubuntu18.dockerfile
Due: dockerbuild-libindy-ubuntu18

Set other format for testnet
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Update root README to reflect evolution of IndySDK to VDR Tools.
  README.md
  cli/src/commands/mod.rs
Due: none

Update verim-node image version
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Clean-up gitlab-ci
  .gitlab-ci.yml
Due: dockerbuild-libindy-ubuntu16, dockerbuild-libindy-ubuntu18, dockerbuild-libindy-android

Fix CLI after renaming
  cli/src/commands/verim_keys.rs
  cli/src/commands/verim_ledger.rs
  cli/src/commands/verim_pool.rs
  cli/src/libindy/verim_keys.rs
  cli/src/libindy/verim_ledger.rs
  cli/src/libindy/verim_pool.rs
Due: none

Pin zeroize version ~1.3.0
  libindy/Cargo.lock
  libindy/Cargo.toml
  libindy/indy-utils/Cargo.toml
  libindy/indy-wallet/Cargo.toml
Due: none

Rename verim to cheqd fro CLI
  cli/src/commands/cheqd_keys.rs
  cli/src/commands/cheqd_ledger.rs
  cli/src/commands/cheqd_pool.rs
  cli/src/commands/mod.rs
  cli/src/libindy/cheqd_keys.rs
  cli/src/libindy/cheqd_ledger.rs
  cli/src/libindy/cheqd_pool.rs
  cli/src/libindy/mod.rs
  cli/src/main.rs
  cli/src/utils/environment.rs
  cli/src/utils/test.rs
Due: none

Add cleanup storage for cheqd pool
  cli/src/commands/verim_keys.rs
  cli/src/commands/verim_pool.rs
  cli/src/utils/environment.rs
  cli/src/utils/test.rs
Due: none

Rename rest part to cheqd
  cli/src/commands/cheqd_keys.rs
  cli/src/commands/cheqd_ledger.rs
  cli/src/commands/cheqd_pool.rs
  cli/src/commands/mod.rs
Due: none

Change rpc address for abc-info
  cli/src/commands/cheqd_keys.rs
  cli/src/commands/cheqd_pool.rs
  cli/src/utils/environment.rs
Due: none

Fix params for create_nym_command
  cli/src/commands/cheqd_ledger.rs
  cli/src/commands/mod.rs
Due: none
